PORT=5000
NODE_ENV=development

# PostgreSQL (Railway yoki local)
DATABASE_URL=postgresql://postgres:password@localhost:5432/dokonect

# JWT
JWT_SECRET=dokonect_secret_key_change_me_in_production_12345
JWT_EXPIRES_IN=3d

# Redis (optional)
REDIS_URL=redis://localhost:6379

# Client
CLIENT_URL=http://localhost:3000

# Admin
ADMIN_EMAIL=admin@dokonect.uz
ADMIN_PASSWORD=Admin@2024!
